/* cd 애니메이션 효과 */
.cd-wrap {
  transition: 0.3s linear;
}
.CD_img {
  animation: musicQ 5s linear infinite;
  animation-play-state: paused;
}
.CD_img.running {
  animation-play-state: running;
}
@keyframes musicQ {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playList {
  /*영수증 플레이리스트*/
  transform: rotate(10deg); /*영수증 기울기*/

  background-image: url('../images/albums/white-crumpled-paper-texture-background.jpg');
  color: black;
  width: 424px;
  height: auto;
  padding: 20px;
}

/*앨범 영수증 플레이리스트 버튼 호버시 효과*/
.album_selct_btn:hover,
.album_selct_btn.play {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
