/* 홈-메뉴-텍스트 main메뉴 버튼 외에 테두리 */
.home-menu-text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px white;
  transition: none;
}

/* 홈-메뉴-텍스트 호버 */
.home-menu-text-stroke:hover {
  color: #ffffff;
  -webkit-text-stroke: 0;
}
