@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_squareround/nanum_squareround.css');
@font-face {
    font-family: 'Cafe24Nyangi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Nyangi-B-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-B-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    /* 텍스트 */
    body {
        font-family: 'Cafe24Nyangi-W-v1.0', Roboto, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    }
}